.projects{
    text-align: center;
    padding: 40px;
}
.card-contents{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.project-img{
    height: 150px;
    width: 150px;
}
.project-card{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.project-btn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.pro-btn{
    width:180px;
}