.Card{
    padding: 50px;
    text-align: center;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
    flex-direction: row;
    align-items: center;

}
.tools{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap:1rem;
    padding: 20px;
}
.icons{
    height: 30px;
    width: 30px
}
.icon-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}