.about{
    display: flex;
    flex-direction: column;
    padding: 7rem;
    text-align: center;
    justify-content: center;

}
.resume{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px ;
}


